.detail{
  min-height: calc(100vh - 120px);
  margin: 20px 15px;
  background: #F6F8FA;
  .panel{
    margin-bottom: 20px;

    :deep(.report){
      .img{
        width: 80px;
        height: 110px;
        }              
    }

    :deep(.brandUrl){
      .img{
        width: 80px;
        height: 80px;
        }      
    }
  }
  .footer{
    text-align: center;
    .btn-bottom{
      display: inline-block;
      width: 108px;
      height:32px;
      line-height: 32px;
      color: #fff;
      background: #195EF0;
      margin-top: 100px;
      margin-bottom: 20px;
      cursor: pointer;
    }
  }
}

