.tenant {
    &-tables {
        .tenant-tables-search {
            overflow: hidden;
            .search-left {
               float: left;
               &-inline {
                   display: inline-block;
                   padding: 0 10px 0 0;
               }
            }
            .search-right {
               float: right;
               &-inline {
                   display: inline-block;
                   padding: 0 0 0 10px;
               }
            }
        }
    }
}